
model/*
test_data/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


/models
/audio/repos/GPT-SoVITS
/audio/models


/.vscode
/.cloudbase

audio/temp
/temp
test.py
output.srt
funasr-runtime-resources